{:deps
 {dev.gersak/timing.core {:local/root "core"}
  ;; dev.gersak/timing.timezones {:local/root "timezones"}
  dev.gersak/timing.holidays {:local/root "holidays"}
  dev.gersak/timing.cron {:local/root "cron"}
  ;; dev.gersak/timing.holidays {:mvn/version "0.6.3"}
  ;; dev.gersak/timing.cron     {:mvn/version "0.6.1"}
  ;; dev.gersak/timing.core     {:mvn/version "0.6.4"}
  }
 :paths ["src"]
 :aliases
 {:cider
  {:extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                cider/cider-nrepl {:mvn/version "0.27.3"}}
   :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}
  ;;
  :compile/tzdb
  {:main-opts ["-m" "timing.timezones.compile"]}
  ;;
  :test {:extra-paths ["test" "holidays/compiler" "timezones/compiler"]
         :extra-deps {org.clojure/test.check {:mvn/version "0.10.0"}}}
  ;;
  :run.tests {:extra-deps {com.cognitect/test-runner
                           {:git/url "https://github.com/cognitect-labs/test-runner.git"
                            :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
              :extra-paths ["test"]
              :main-opts ["-m" "cognitect.test-runner"]}
  ;;
  :codox {:extra-deps {codox/codox {:mvn/version "0.10.8"}}
          :extra-paths ["core/src" "timezones/src-full" "cron/src" "holidays/src"]
          :exec-fn codox.main/generate-docs
          :exec-args {:name "Timing"
                      :version "0.8.2"
                      :source-paths ["core/src" "timezones/src-full" "cron/src" "holidays/src"]
                      :output-path "docs"
                      :doc-paths ["doc"]
                      :metadata {:doc/format :markdown}
                      :namespaces [timing.core timing.adjusters timing.util
                                   timing.cron
                                   timing.timezones.db
                                   timing.holiday]
                      :source-uri "https://github.com/gersak/timing/blob/{git-commit}/{filepath}#L{line}"}}}}
